.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.to-guess {
  width: 250;
  height: 250px;
  vertical-align: middle;
}

button {
  font-size: 18px;
  height: 50px;
  width: 100px;
}

.title-text {
  font-size: 30px;
  text-align: center;
}

.guesses-stats {
  font-size: 24px;
  text-align: center;
}

.wrong {
  color: red;
  font-size: 24px;
  text-align: center;
}

.right {
  color: green;
  font-size: 24px;
  text-align: center;
}

.start-text {
  font-size: 24px;
  text-align: center;
}
